<a href="https://colab.research.google.com/github/Sathish2426/Sathish2426/blob/main/Copy_of_Yield_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# General

In [ ]:
# Imports
import numpy as np
import pandas as pd

import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Define url to data
resource_folder = 'https://raw.githubusercontent.com/Drinkler/Yield-Prediction/main/res'

pesticides_url = '{}/pesticides.csv?token=AEEE4P7JUYWTGUEXQFQFP6TAN4NLQ'.format(resource_folder)
rainfall_url = '{}/rainfall.csv?token=AEEE4P6QEF6CK5DAD7EOWP3AN4NLU'.format(resource_folder)
temperature_url = '{}/temp.csv?token=AEEE4P5INYQIFOKMOSCRDP3AN4NLW'.format(resource_folder)
yield_url = '{}/yield.csv?token=AEEE4PYVSV3JAZO4CSXFA43AN4NL2'.format(resource_folder)

In [ ]:
# Load data
pesticides_data = pd.read_csv(pesticides_url, sep=',')
rainfall_data = pd.read_csv(rainfall_url, sep=', ')
temperature_data = pd.read_csv(temperature_url, sep=', ')
yield_data = pd.read_csv(yield_url, sep=',')

<ipython-input-3-e353946a88d2>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  rainfall_data = pd.read_csv(rainfall_url, sep=', ')
<ipython-input-3-e353946a88d2>:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  temperature_data = pd.read_csv(temperature_url, sep=', ')

#Data Preparation

## Rainfall data

In [ ]:
rainfall_data

        Rainfall - (MM)  Year   Statistics      Country ISO3
0              55.74480  1901  Jan Average  Afghanistan  AFG
1              13.94800  1901  Feb Average  Afghanistan  AFG
2              43.84640  1901  Mar Average  Afghanistan  AFG
3              26.96100  1901  Apr Average  Afghanistan  AFG
4              52.95790  1901  May Average  Afghanistan  AFG
...                 ...   ...          ...          ...  ...
272827          2.03926  2016  Aug Average     Zimbabwe  ZWE
272828          0.48070  2016  Sep Average     Zimbabwe  ZWE
272829          9.13410  2016  Oct Average     Zimbabwe  ZWE
272830         72.95080  2016  Nov Average     Zimbabwe  ZWE
272831        148.26800  2016  Dec Average     Zimbabwe  ZWE

[272832 rows x 5 columns]

In [ ]:
rainfall_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272832 entries, 0 to 272831
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Rainfall - (MM)  272832 non-null  float64
 1   Year             272832 non-null  int64
 2   Statistics       272832 non-null  object
 3   Country          272832 non-null  object
 4   ISO3             272832 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 10.4+ MB

In [ ]:
rainfall_data.describe()

       Rainfall - (MM)           Year
count    272832.000000  272832.000000
mean        103.470868    1958.500000
std         113.231867      33.485133
min           0.000000    1901.000000
25%          24.168375    1929.750000
50%          66.431550    1958.500000
75%         149.647250    1987.250000
max        2699.190000    2016.000000

In [ ]:
# Number of countries
len(rainfall_data['Country'].unique())

196

In [ ]:
# Number of years (1901 - 2016)
len(rainfall_data['Year'].unique())

116

In [ ]:
# One year from Afghanistan
rainfall_data.head(12)

    Rainfall - (MM)  Year   Statistics      Country ISO3
0          55.74480  1901  Jan Average  Afghanistan  AFG
1          13.94800  1901  Feb Average  Afghanistan  AFG
2          43.84640  1901  Mar Average  Afghanistan  AFG
3          26.96100  1901  Apr Average  Afghanistan  AFG
4          52.95790  1901  May Average  Afghanistan  AFG
5          16.64650  1901  Jun Average  Afghanistan  AFG
6           7.38656  1901  Jul Average  Afghanistan  AFG
7           0.59306  1901  Aug Average  Afghanistan  AFG
8           4.82593  1901  Sep Average  Afghanistan  AFG
9          11.49720  1901  Oct Average  Afghanistan  AFG
10          8.61022  1901  Nov Average  Afghanistan  AFG
11          7.90607  1901  Dec Average  Afghanistan  AFG

In [ ]:
# Rain data in years for each country
rainfall_df = rainfall_data.groupby(['Year', 'Country', 'ISO3'], as_index=False, axis=0).sum()
rainfall_df

,Year,Country,ISO3,Rainfall - (MM),Statistics
0,1901,Afghanistan,AFG,250.92364,Jan AverageFeb AverageMar AverageApr AverageMa...
1,1901,Albania,ALB,1244.13740,Jan AverageFeb AverageMar AverageApr AverageMa...
2,1901,Algeria,DZA,113.45278,Jan AverageFeb AverageMar AverageApr AverageMa...
3,1901,Andorra,AND,871.31150,Jan AverageFeb AverageMar AverageApr AverageMa...
4,1901,Angola,AGO,931.01022,Jan AverageFeb AverageMar AverageApr AverageMa...
...,...,...,...,...,...
22731,2016,Venezuela,VEN,1844.70330,Jan AverageFeb AverageMar AverageApr AverageMa...
22732,2016,Vietnam,VNM,1988.86180,Jan AverageFeb AverageMar AverageApr AverageMa...
22733,2016,Yemen,YEM,171.48137,Jan AverageFeb AverageMar AverageApr AverageMa...
22734,2016,Zambia,ZMB,803.47810,Jan AverageFeb AverageMar AverageApr AverageMa...
22735,2016,Zimbabwe,ZWE,455.13295,Jan AverageFeb AverageMar AverageApr AverageMa...

## Temperature data

In [ ]:
temperature_data

        Temperature - (Celsius)  Year   Statistics      Country ISO3
0                      -0.03780  1901  Jan Average  Afghanistan  AFG
1                       2.42348  1901  Feb Average  Afghanistan  AFG
2                       9.36230  1901  Mar Average  Afghanistan  AFG
3                      13.55640  1901  Apr Average  Afghanistan  AFG
4                      18.15090  1901  May Average  Afghanistan  AFG
...                         ...   ...          ...          ...  ...
272827                 18.75550  2016  Aug Average     Zimbabwe  ZWE
272828                 22.99190  2016  Sep Average     Zimbabwe  ZWE
272829                 25.86640  2016  Oct Average     Zimbabwe  ZWE
272830                 25.85150  2016  Nov Average     Zimbabwe  ZWE
272831                 25.06930  2016  Dec Average     Zimbabwe  ZWE

[272832 rows x 5 columns]

In [ ]:
temperature_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272832 entries, 0 to 272831
Data columns (total 5 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Temperature - (Celsius)  272832 non-null  float64
 1   Year                     272832 non-null  int64
 2   Statistics               272832 non-null  object
 3   Country                  272832 non-null  object
 4   ISO3                     272832 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 10.4+ MB

In [ ]:
temperature_data.describe()

       Temperature - (Celsius)           Year
count            272832.000000  272832.000000
mean                 18.631498    1958.500000
std                  10.248635      33.485133
min                 -34.121000    1901.000000
25%                  13.231575    1929.750000
50%                  22.736300    1958.500000
75%                  25.797700    1987.250000
max                  38.566900    2016.000000

In [ ]:
# Number of countries
len(temperature_data['Country'].unique())

196

In [ ]:
# Number of years (1901 - 2016)
len(temperature_data['Year'].unique())

116

In [ ]:
# One year from Afghanistan
temperature_data.head(12)

    Temperature - (Celsius)  Year   Statistics      Country ISO3
0                  -0.03780  1901  Jan Average  Afghanistan  AFG
1                   2.42348  1901  Feb Average  Afghanistan  AFG
2                   9.36230  1901  Mar Average  Afghanistan  AFG
3                  13.55640  1901  Apr Average  Afghanistan  AFG
4                  18.15090  1901  May Average  Afghanistan  AFG
5                  22.17270  1901  Jun Average  Afghanistan  AFG
6                  25.37870  1901  Jul Average  Afghanistan  AFG
7                  23.66520  1901  Aug Average  Afghanistan  AFG
8                  19.46550  1901  Sep Average  Afghanistan  AFG
9                  11.28370  1901  Oct Average  Afghanistan  AFG
10                  8.63190  1901  Nov Average  Afghanistan  AFG
11                  4.02148  1901  Dec Average  Afghanistan  AFG

In [ ]:
# Average temperature data in years for each country
temperature_df =temperature_data.groupby(['Year', 'Country', 'ISO3'], as_index=False, axis=0).mean()
temperature_df

TypeError: Could not convert Jan AverageFeb AverageMar AverageApr AverageMay AverageJun AverageJul AverageAug AverageSep AverageOct AverageNov AverageDec Average to numeric


## Yield data

In [ ]:
yield_data

In [ ]:
yield_data.info()

In [ ]:
yield_data.describe()

In [ ]:
# Number of countries
len(yield_data['Area'].unique())

In [ ]:
# Number of years (1961 - 2019)
len(yield_data['Year'].unique())

In [ ]:
# Remove unnecessary columns
yield_df = yield_data.drop(['Domain', 'Element'], axis=1)
yield_df

## Pesticides data

In [ ]:
pesticides_data

In [ ]:
pesticides_data.info()

In [ ]:
pesticides_data.describe()

In [ ]:
# Number of countries
len(pesticides_data['Area'].unique())

In [ ]:
# Number of years (1990 - 2018)
len(pesticides_data['Year'].unique())

In [ ]:
# Remove unnecessary columns
pesticides_df = pesticides_data.drop(['Domain', 'Element'], axis=1)
pesticides_df

## Merging

In [ ]:
rainfall_df.rename({'Rainfall - (MM)': 'Rainfall (mm)'}, axis=1, inplace=True)

In [ ]:
temperature_df.rename({'Temperature - (Celsius)': 'Temperature (Celsius)'}, axis=1, inplace=True)

In [ ]:
yield_df.rename({'Area': 'Country', 'Value': 'Yield (hg/ha)'}, axis=1, inplace=True)
yield_df.drop('Unit', axis=1, inplace=True)

In [ ]:
pesticides_df.rename({'Area': 'Country', 'Value': 'Pesticides (tonnes)'}, axis=1, inplace=True)
pesticides_df.drop(['Unit', 'Item'], axis=1, inplace=True)

In [ ]:
rain_temp_df = pd.merge(rainfall_df, temperature_df, on=['Country', 'Year', 'ISO3'])
rain_temp_yield_df = pd.merge(rain_temp_df, yield_df, on=['Country', 'Year'])
rain_temp_yield_pest_df = pd.merge(rain_temp_yield_df, pesticides_df, on=['Country', 'Year'])
rain_temp_yield_pest_df.drop('ISO3', axis=1, inplace=True)
data = rain_temp_yield_pest_df[['Year', 'Country', 'Item', 'Rainfall (mm)', 'Temperature (Celsius)', 'Pesticides (tonnes)', 'Yield (hg/ha)']]
data

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
# Number of countries
len(data.Country.unique())

In [ ]:
# Number of years (1990 - 2016)
len(data.Year.unique())

# Data Exploration

## Rainfall data

In [ ]:
rainfall_df

In [ ]:
rainfall_df.loc[rainfall_df['Country'] == 'Germany'].groupby('Year').mean().plot()
plt.show()

In [ ]:
# prepare data
temp_data = rainfall_df.groupby('Year').mean()

# plot data
fig, ax = plt.subplots(figsize=(15,9))
fig.suptitle('Mean rainfall in mm across all countries between 1901 and 2016')

temp_data.plot(ax=ax)

ax.set_ylabel('Mean Value across all countries')
ax.set_xlabel('Year')

plt.show()

## Temperature data

In [ ]:
temperature_df.loc[temperature_df['Country'] == 'Germany'].groupby('Year').mean().plot()
plt.show()

In [ ]:
# prepare data
temp_data = temperature_df.groupby('Year').mean()

# plot data
fig, ax = plt.subplots(figsize=(15,9))
fig.suptitle('Mean temperature in celsius across all countries between 1901 and 2016')

temp_data.plot(ax=ax)

ax.set_ylabel('Mean Value across all countries')
ax.set_xlabel('Year')

plt.show()

## Yield data

In [ ]:
# prepare data
yield_mean = yield_data.groupby(['Year', 'Item']).mean()

# plot data
fig, ax = plt.subplots(figsize=(15,9))
fig.suptitle('Mean harvested value across all countries between 1961 and 2019')

yield_mean['Value'].unstack().plot(ax=ax)

ax.set_ylabel('Mean Value across all countries')
ax.set_xlabel('Year')

plt.show()

In [ ]:
fig, axs = plt.subplots(1,1, figsize=(15,9))
fig.suptitle('Frequency Count', size=30)

temp_df = yield_data['Item'].value_counts().to_frame().reset_index()
g = sns.barplot(x='index', y='Item', data=temp_df, orient='v', ax=axs)

for index, row in temp_df.iterrows():
    g.text(row.name,row.Item + 100, row.Item, color='black', ha="center")

axs.set_xlabel('Item')
axs.set_ylabel('Count')

fig.show()

## Pesticide data

In [ ]:
pesticides_df.loc[temperature_df['Country'] == 'Germany'].groupby('Year').mean().plot()
plt.show()

In [ ]:
# prepare data
temp_data = pesticides_df.groupby('Year').mean()

# plot data
fig, ax = plt.subplots(figsize=(15,9))
fig.suptitle('Mean pesticide usage in tonnes across all countries between 1990 and 2018')

temp_data.plot(ax=ax)

ax.set_ylabel('Mean Value across all countries')
ax.set_xlabel('Year')

plt.show()

## Merged data

In [ ]:
# prepare data
temp_data = data.groupby(['Year', 'Item']).mean()

# plot data
fig, ax = plt.subplots(figsize=(15,9))
fig.suptitle('Mean harvested value across all countries between 1961 and 2019')

temp_data['Yield (hg/ha)'].unstack().plot(ax=ax)

ax.set_ylabel('Mean Value across all countries')
ax.set_xlabel('Year')

plt.show()

In [ ]:
fig, axs = plt.subplots(1,1, figsize=(15,9))
fig.suptitle('Frequency Count', size=30)

temp_df = data['Item'].value_counts().to_frame().reset_index()
g = sns.barplot(x='index', y='Item', data=temp_df, orient='v', ax=axs)

for index, row in temp_df.iterrows():
    g.text(row.name,row.Item + 50, row.Item, color='black', ha="center")

axs.set_xlabel('Item')
axs.set_ylabel('Count')

fig.show()

In [ ]:
corr = data.select_dtypes(include=[np.number]).corr()

mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

f, ax = plt.subplots(figsize=(11, 9))

# Generate a custom diverging colormap
cmap = sns.palette="vlag"

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5});

In [ ]:
plt.figure(figsize=(20,3))

plt.subplot(1,2,1)
sns.boxplot(x=data['Yield (hg/ha)'],color='#005030')
plt.title(f'Box Plot of Preis')

plt.subplot(1,2,2)
sns.histplot(x=data['Yield (hg/ha)'], color='#500050', kde=True)
plt.title(f'Distribution Plot of Preis')
plt.show()

# Data Preprocessing

## One Hot Encoding

In [ ]:
data.shape

In [ ]:
from sklearn.preprocessing import OneHotEncoder

df_onehot = pd.get_dummies(data, columns=['Country', 'Item'], prefix=['Country', 'Item'])
data = df_onehot.loc[:, df_onehot.columns != 'Yield (hg/ha)']
data['Yield (hg/ha)'] = df_onehot['Yield (hg/ha)']

In [ ]:
data.shape

## Backward Elimination

In [ ]:
data.shape

In [ ]:
import statsmodels.api as sm

y = data['Yield (hg/ha)']
X = data.drop('Yield (hg/ha)', axis=1)

cols = list(X.columns)
pmax = 1
while (len(cols)>0):
    p = []
    X_1 = X[cols]
    X_1 = sm.add_constant(X_1)
    model = sm.OLS(y,X_1).fit()
    p = pd.Series(model.pvalues.values[1:], index = cols)
    pmax = max(p)
    feature_with_p_max = p.idxmax()
    if(pmax>0.05):
        cols.remove(feature_with_p_max)
    else:
        break

data = data[cols]
data.insert(len(data.columns), 'Yield (hg/ha)', y)

In [ ]:
data.shape

## Removing of Outliers

In [ ]:
data.shape

In [ ]:
from scipy import stats

y = data['Yield (hg/ha)']
X = data.drop('Yield (hg/ha)', axis=1)

z_scores = stats.zscore(X)
abs_z_scores = np.abs(z_scores)

filtered_entries = (abs_z_scores < 11).all(axis=1)
X = X[filtered_entries]

X.insert(len(X.columns), 'Yield (hg/ha)', y)
data = X

In [ ]:
data.shape

## Feature Scaling

In [ ]:
data.shape

In [ ]:
from sklearn.preprocessing import MinMaxScaler

y = data['Yield (hg/ha)']
X = data.drop('Yield (hg/ha)', axis=1)

scaler = MinMaxScaler()
data_without_yield = pd.DataFrame(scaler.fit_transform(X), index=y.index)
data_without_yield.columns = X.columns
data_without_yield.insert(len(data_without_yield.columns), 'Yield (hg/ha)', y)

data = data_without_yield

In [ ]:
data.shape

# Modeling

In [ ]:
y = data['Yield (hg/ha)']
X = data.drop('Yield (hg/ha)', axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
def mean_absolute_percentage_error(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [ ]:
def plot_regression_results(ax, y_test, y_pred, title, estimated_time, scores):

  # linear least-squares
  slope, intercept, rvalue, pvalue, stderr = linregress(y_test, y_pred)
  ax.plot([y_test.min(), y_test.max()], [intercept+y_test.min()*slope, intercept+y_test.max()*slope], '--r')

  ax.scatter(y_test, y_pred, alpha=0.7)

  # Anzeigen der Werte in einer Box
  extra = plt.Rectangle((0, 0), 0, 0, fc="w", fill=False,
                          edgecolor='none', linewidth=0)
  ax.legend([extra], [scores], loc='upper left')

  ax.set_xlabel('Actual values in tonnes')
  ax.set_ylabel('Predictes values in tonnes')
  ax.set_title('{}\nTrained in {:.2f} Milliseconds'.format(name, estimated_time*1000))

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, max_error
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.model_selection import cross_validate, cross_val_predict
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeRegressor

import time
from scipy.stats import linregress

lin = LinearRegression()
dtr = DecisionTreeRegressor()
sgd = SGDRegressor(loss='squared_loss')
gbr = GradientBoostingRegressor()
knn = KNeighborsRegressor(n_neighbors=5)
rfr = RandomForestRegressor()

# Verwendete Regressionen
estimators = [('Linear Regression', lin),
              ('Decision Tree Regression', dtr),
              ('Stochastic Gradient Descent Regression', sgd),
              ('Gradient Boosting Regression', gbr),
              ('K-nearest Neighbour 5', knn),
              ('Random Forest Regression', rfr)]

# Festlegen des Subplots
fig, axs = plt.subplots(nrows=2, ncols=3, sharex=True, sharey=True, figsize=(20, 13))
axs = np.ravel(axs)

for ax, (name, est) in zip(axs, estimators):
  start_time = time.time()
  # Trainieren des Modelles
  est.fit(X_train, y_train)
  y_pred = est.predict(X_test)
  estimated_time = time.time() - start_time

  # Anzeigen des Modelles
  plot_regression_results(ax, y_test, y_pred, name, estimated_time,
                          (r'$R^2$ = {:.2f}' + '\n' +
                          r'MAE = {:.0f}' + '\n' +
                          r'MSE = {:.0f}' + '\n' +
                          r'RMSE = {:.0f}' + '\n' +
                          r'MAX = {:.0f}' + '\n' +
                          r'MAPE = {:.2f}%')
                          .format(r2_score(y_test, y_pred),
                                  mean_absolute_error(y_test, y_pred),
                                  mean_squared_error(y_test, y_pred),
                                  mean_squared_error(y_test, y_pred, squared=False),
                                  max_error(y_test, y_pred),
                                  mean_absolute_percentage_error(y_test, y_pred)))

plt.suptitle('Regressionsverfahren')
plt.tight_layout()
plt.subplots_adjust(top=0.9)
plt.show()

In [ ]:
r2_values = []
max_error_values = []
neg_mean_absolute_error_values = []
neg_mean_squared_error_values = []
neg_root_mean_squared_error_values = []

for name, est in estimators:
  # Kreuzvalidierung
  score = cross_validate(est, X_train, y_train, cv=5,
                         scoring=['r2', 'max_error', 'neg_mean_absolute_error', 'neg_mean_squared_error', 'neg_root_mean_squared_error'],
                         n_jobs=-1)

  # Abspeichern der Werte
  r2_values.append(score['test_r2'])
  max_error_values.append(-score['test_max_error'])
  neg_mean_absolute_error_values.append(-score['test_neg_mean_absolute_error'])
  neg_mean_squared_error_values.append(-score['test_neg_mean_squared_error'])
  neg_root_mean_squared_error_values.append(-score['test_neg_root_mean_squared_error'])

# Plotten der Werte
fig, axs = plt.subplots(nrows=1, ncols=5, figsize=(30, 5))

names = ['LR', 'DTR', 'SGD', 'GBR', 'KNN', 'RFR']

axs[0].boxplot(r2_values, labels=names)
axs[0].set_title('R2')
axs[1].boxplot(max_error_values, labels=names)
axs[1].set_title('MAX')
axs[2].boxplot(neg_mean_absolute_error_values, labels=names)
axs[2].set_title('MAE')
axs[3].boxplot(neg_mean_squared_error_values, labels=names)
axs[3].set_title('MSE')
axs[4].boxplot(neg_root_mean_squared_error_values, labels=names)
axs[4].set_title('RMSE')

plt.suptitle('Cross-validation')
plt.show()

In [ ]:
regression = 5

print(u'R²: {:.3f} \u00B1 {:.3f}'.format(np.mean(r2_values[regression]), np.std(r2_values[regression])))
print(u'MAX: {:,.0f} \u00B1 {:,.0f}'.format(np.mean(max_error_values[regression]), np.std(max_error_values[regression])))
print(u'MAE: {:,.0f} \u00B1 {:,.0f}'.format(np.mean(neg_mean_absolute_error_values[regression]), np.std(neg_mean_absolute_error_values[regression])))
print(u'MSE: {:,.0f} \u00B1 {:,.0f}'.format(np.mean(neg_mean_squared_error_values[regression]), np.std(neg_mean_squared_error_values[regression])))
print(u'RMSE: {:,.0f} \u00B1 {:,.0f}'.format(np.mean(neg_root_mean_squared_error_values[regression]), np.std(neg_root_mean_squared_error_values[regression])))

In [ ]:
from sklearn.tree import export_graphviz
import pydot

tree = rfr.estimators_[5]

export_graphviz(tree, out_file = 'tree.dot', feature_names = data.columns[:-1], rounded = True, precision = 1)
# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')
# Write graph to a png file
graph.write_png('tree.png')